body{   
   background:radial-gradient(circle,rgba(244, 4, 4, 0.945),rgba(10, 6, 228, 0.985));
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:300px;
    width: auto;
   
  }

p{
    text-align:center;
    margin-top:0;
}
  
  h1{
    text-align:center;
    font-size: 64px;
    font:anton;
  }
h2{
  text-align:center;
  
}
  style{
    text-align: center;
  }

 

  
section{
  padding:20px;
  margin:20px;
}